@font-face {
  font-family: "Rubik Doodle Shadow";
  src: url(res/RubikDoodleShadow-Regular.ttf);
}

body {
  background: url("../res/background.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  min-height: 100dvh;
  color: white;
}
#gameboard {
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.cell {
  font-family: "Rubik Doodle Shadow", system-ui;
  color: yellowgreen;
  aspect-ratio: 1;
  border: 1px solid rgba(173, 216, 230, 0.6);
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

#game-components {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #b8c8aa;
  color: black;
  font-size: 2em;
}

.game-mode-selector {
  background-color: yellowgreen;
  color: black;
  font-size: 1.75em;
  border-style: none;
  border-radius: 15px;
  padding: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20263e;
  color: #c3beca;
  font-size: 1.25em;
  width: 100%;
  height: 5vh;
  margin-top: auto;
}

h1 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 4em;
  color: yellow;
}

input {
  border-radius: 15px;
  border-style: none;
  opacity: 0.6;
  width: 100%;
  font-size: 0.5em;
  padding: 5px 0 5px 0;
  text-align: center;
}

#multiplayer-modal-dialog {
  border-style: none;
  border-radius: 15px;
  background-color: yellowgreen;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 2.5em;
  padding: 20px;

  & button {
    border-style: none;
    border-radius: 15px;
    color: white;
    font-size: 1em;
    background-color: #20263e;
    opacity: 0.6;
    font-weight: normal;
    font-family: "Rubik Doodle Shadow", system-ui;
  }
}

dialog::backdrop {
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
}
