body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  min-height: 100dvh;
}
#gameboard {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.cell {
  aspect-ratio: 1;
  border: 1px solid black;
  margin: 5px;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-restart {
  height: 5vh;
  font-size: 2em;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#game-components {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #b8c8aa;
  font-size: 2em;
}
